<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Trail</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="margin-top:200px;">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="textfield" class="form-control">
                        <a type="submit" class="input-group-addon">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>